<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="David Brenneman's Blog" />
    <meta name="author" content="David Brenneman">
    <meta name="keywords" content="david brenneman python django pyramid d3.js javascript html5 web application consulting software engineer developer hacker maker geek devops cloud aws openstack linux open source" />
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dbrenneman.css" rel="stylesheet">

  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        {{  content }}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <ul class="inline">
          <li>
            <a href="mailto:db@davidbrenneman.com"><i class="icon-envelope-alt"></i>db@davidbrenneman.com</a>
          </li>
          <li>
            <a href="https://twitter.com/davidbrenneman" target="_blank"><i class="icon-twitter"></i>Twitter</a>
          </li>
          <li>
            <a href="https://github.com/dbrenneman" target="_blank"><i class="icon-github"></i>Github</a>
          </li>
          <li>
            <a href="/" target="_blank"><i class="icon-rss"></i>Syndicated Articles</a>
          </li>
          <li>
            <a href="/">&copy; David Brenneman 2013</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37129617-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- Google Analytics end -->

  </body>
</html>
